@charset "UTF-8";
/* Regra @charset caso haja problemas com acentuação */

@font-face{
    font-family: 'love';
    src: url('fontes/Wild Love.otf') format('opentype');
    font-weight: normal;
    font-style: normal;

    /*tipos de format()
      -opentype (otf)
      -truetype(ttf)
      -embedded-opentype
      -truetype-aat (Apple Advanced Typography)
      -svg*/
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    font-family: 'love', Times, serif;
    font-size: 3em;
}